#kl{
      width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    margin-right: 1000px;
    padding-right: 1000px;
}
#mm{
      width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    margin-right: 1000px;
    padding-right: 1000px;
    
}

#vv{
     width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    margin-right: 1000px;
    padding-right: 1000px;
   

}


#aa{
    padding: 4px 4px 4px;
   margin-bottom: 4px 4px 4px;
}
#pp{
    padding: 4px 4px 4px;
}

#zz{
    padding: 4px 4px 4px;
}
#qq{
    padding: 4px 4px 4px ;
}
#ee{
    padding: 3px 3px 3px;
}
#OO{
    text-align: center;
}

