*{
    padding: 0px;
    margin: 0px;
   box-sizing: border-box;
   font-family: "Playfair Display", serif;
}

#pl{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
   
}

.logo{
    width: 50px;
}
.list-item{
    list-style: none;
    display: inline;
    margin: 0px 20px ;
   
 
}
.list{
     text-decoration: none;
     color: black;
     font-weight: 500px;
}

.list:hover{
    text-decoration: underline;
    color: red;
}
