* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;




}

nav {
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    l
}
#