h1{
    display: flex;
    justify-content:center ;
    align-items: center;
}


#aa{
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;



}
#bb{
     width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    margin-right: 1000px;
    padding-right: 1000px;
   
    
    
    

}

#cc{
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    margin-right: 1000px;
    padding-right: 1000px;
}

#dd{
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    margin-right: 1000px;
    padding-right: 1000px;
}