

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: "Playwrite NZ Basic", cursive;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.logo
{
    width: 200px;
    height: 150px;
}
.link-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}

.links{
    text-decoration: none;
    font-weight: 800;
    color: rgb(255, 81, 0);
}
.links:hover{
    text-decoration: underline;
    color: blue;
}
.home-content{
    margin: 13% 0px 0px 8%;
}

#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#lname{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}

#user-details{
    line-height: 1.5;
}

#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 30px;
}

.home-img{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    transition: bottom 2s, left 1s;
}

.home-img:hover #shape{
    bottom: 70px;
}

.home-img:hover #girl{
    left: 30%;
}
#about{
    margin: 15% 8% 0px 8%;
}

.sectionHead{
    text-align: center;
}

.mainHead{
    font-size: 30px;
}

.subHead{
    color: green;
    font-size: 20px;
}

.aboutBody{
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}
.img1{
    width:40%;

}

.aboutContent{
    font-size: 20px;
    text-align: justify;
}
.informations{
    margin-top: 1.3rem;;
}
.infoBox{
    margin-bottom: 10px;
}
.infoBox span{
    margin-left: 1rem;
}

#skill{
    margin: 8% 8% 0px 8%;
}

.skillContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:2rem;
    margin-top: 30px;
}

.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}

.barHead, .barPercent{
    font-weight: 500;
    font-size: 1.3rem;
}

.baseBar{
    width: 100%;
    height: 0.5rem;
    background-color:  black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}

.portraitBar{
    width: 90%;
    background-color: rgb(87, 255, 41);
}

.landscapeBar{
    background-color: rgb(87, 255, 41);
    width: 98%;
}

.editBar{
    background-color: rgb(87, 255, 41);
    width: 85%;
}

.wildBar{
    background-color: rgb(87, 255, 41);
    width: 70%;
}
.mySkill{
    width: 80%;
}

#contact{
    margin: 13% 8% 0px 8%;

}
.iconcollection{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-radius: 50%;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brands{
    color: black;
    font-size: 1.7rem;
}
.icon:hover{
    background-image: linear-gradient(to bottom right,green,blue,violet)
}
.icon:hover .brands{
    color: white;
    /* animations */
    animation: rotate 3s;

}

@keyframes rotate{
    0%{
        transform: rotate(30deg);

    }
    20%{
        transform: rotate(-30deg);
    }
}


